# vim: filetype=sh
#
# Show an alias of HOSTNAME in status bar to avoid changing the computer name.
#
# Beyond it, WSL (Windows Subsystem for Linux) always bring the original
# hostname back.
#
# Save this file as "~/.tmux_hostname_alias" to take effect.

echo ${HOSTNAME_ALIAS:-${HOSTNAME}}
