# vim: filetype=sh
#
# Customize colors for PS1.
#
# Save this file as "~/.ps1colorrc" to take effect.

export PS1_COLOR_DEFAULT="\[\e[38;5;15;48;5;32m\]"  # blue
export PS1_COLOR_ERROR="\[\e[38;5;15;48;5;1m\]"  # red
export PS1_COLOR_VIRTUALENV="\[\e[38;5;15;48;5;24m\]"  # dark blue

# See colorcodes in section "256 (8-bit) Colors" from
# http://bitmote.com/index.php?post/2012/11/19/Using-ANSI-Color-Codes-to-Colorize-Your-Bash-Prompt-on-Linux
